/* Tabla */
.table-sm td,.table-sm th{padding-top: 2px !important;padding-bottom: 2px !important}

.table.font-14 td{font-size: 14px !important}
.table.font-12 td{font-size: 12px !important}
.table.font-10 td{font-size: 10px !important}

/* Modal Side */
.modal-side-scroll{position: relative}
.modal-side [close]{position: absolute;top: 10px;right: 20px;font-size: 20px;cursor: pointer;font-weight: 700;color: #000}
.modal-side .body{padding: 20px}
.modal-side .header{padding: 20px;padding-bottom: 10px;min-height:50px}
.modal-side{
    z-index: 10;
    position: fixed;
    top: 0;
    right: -382px;
    bottom: 0px;
    width: 380px;
    background-color: #fff;
    overflow-y: auto;
    border:1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
}
.modal-side.open{right: 0;width: 100%}
@media (min-width: 768px){
    .modal-side{position: absolute}
    .modal-side.open{width: 380px}
    .modal-side-scroll{overflow-x: hidden}
}

.content-side{position: relative;height: 100%;overflow: hidden}
.content-side .body{top: 60px;left: 0;right: 0;bottom: 0;position: absolute;overflow: auto}

/**
* Comprimidos de Tablas
*/

.td-line{white-space: nowrap !important}